*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-right: 40px;
    padding-left: 40px;
    ul{
        display: flex;
        gap: 20px;
        list-style: none;
        a{
            color: white;
        }
    }
    p{
        color: white;
    }
  
}
header{
    background-color: #161a1d;
    h1{
        color: white;
    }
    span{
        color: white;
    }
    p{
        color: white;
    }
}
/* Banner */
.container1{
    width: 1200px;
    padding: 25px;
    padding-bottom: 50px;
    
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        gap: 15px;
        img{
            margin-right: 100px;
        }
        div{
            display: flex;
            flex-direction: column;
            margin-left: 100px;
            span{
                padding-right: 300px;
            }
            h1{
                font-size: 80px;
                padding-right: 50px;
            }
            p{
                padding-right: 125px;
            }
            a{
                margin-top: 50px;
                margin-right: 280px;
                color: black;
                background-color: white;
                padding: 20px;
                text-decoration: none;
            }
        }
    }
}
/* Section Services */
.container2{
    padding: 30px;
    margin: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            padding-bottom: 50px;
        }
        div{
            display: flex;
            flex-direction: row;
            margin-left: 35px;
            margin-right: 35px;
            gap: 30px;
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 250px;
            }
        }
    }
}
/* Brands */
.containerBrands{
    background-color: #161a1d;
    display: flex;
    justify-content: center;
    div{
        img{
            padding: 50px;
        }
    }
}
/* 6 cards */
.container3{
    padding-top: 50px;
    padding-bottom: 50px;
    img{
        height: 380px;
        width: 380px;
    }
    h2{
        text-align: center;
    }
}
.first3{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
       
    }
}
#stubbornpic{
    margin-bottom: 20px;
}
.last3{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 30px;
    div{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
       
    }
}
.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    h2{
        padding-bottom: 60px;
    }
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        div{
            background-color: #e7e7e7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 20px;
            width: 250px;
            height: 370px;
            gap: 10px;
            p{
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
            }
            span{
                margin-top: 30px;
            }
            div{
                display: flex;
                flex-direction: row;
            }
        }
    }
}
footer{
    background-color:#161a1d;
    padding: 20px;
}
.container5{
    h2{
        color: white;
        text-align: center;
        padding: 50px;
        font-size: 35px;
    }
    div{
        display: flex;
        ul{
            list-style: none;
            display: flex;
        }
        p{
            color: white;
        }
        div{
            display: flex;
            flex-direction: column;
        }
    }
}